*{
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}

/* Regole container */

#container {
    position: relative;
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 5%;
    flex-wrap: wrap;
    background-color: #000000;
    overflow-x: auto;
}

#speakerview {
    position: absolute;
    right: 1%;
    top: 2%;
}

span {
    /* color: #fff; */
    background-color: #92958f;
    padding: 5px;
    border-radius: 5px;
}


.usercall {
    position: relative;
    /* Debug */
    /* min-width: 200px;
    min-height: 150px;
    background-color: green; */
}

.imguser img {
    max-width: 300px;
    max-height: 250px;
}

.nomeuser{
    position: absolute;
    left: 0;
    bottom: 10%;
    /* color: #fff; */
    /* opacity: 0.7; */    
}



/* Regole footer */

footer {
    height: 100px;
    background-color: #222222;
}

#contfoot {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divfooter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.icone {
    font-size: 45px;
    text-align: center;
    color: #fff;
    /* padding: 10px; */
}

h4 {
    font-size: 14px;
}


.icone #share {
    color: green;
}

#divfooterend{
    position: relative;
    width: 8%;
    background-color: #92958f;
    height: 100%;
}

#divfooterend h4 {
    position: absolute;
    left: 50%;
    /* bottom: 50%; */
    top: 50%;
    /* right: 50%; */
    transform: translate(-50%,-50%);
    color: red;
}